/* //Body.js */
html, .body, :root{
  box-sizing: border-box;
}

.body>div>div>div, .body>div>div, .bodu>div{
  padding: 1% 0%;
}
.body {
  display: flex;
  flex-direction: column;
  height:100vh;
  width: clamp(800px, 80%, 1280px);
  background-color: #ffffffe1;
  overflow: scroll;
  }

input {
  width: 100%;
  outline: none;
  font-size: large;
  padding: 0.1em;
  margin:0.1em;
  border: none;
  width:100%;
  background-color: rgba(150, 150, 150, 0.247);
}

.overview{
  display:flex;
  position: absolute;
  width: 10%;
  align-self:center;
  justify-content: center;
  bottom: 1%;
  cursor: pointer;
  background-color: rgba(38, 185, 38, 0.781);
  color: black;
  padding: 0.5em;
  border-radius: 1em;
  font-size: medium;
}

.preview{
  background-color: transparent;
  pointer-events: none;
}

.btn{
  display: none;
}

.container{
  padding:0 1%;
  display: grid;
}

.data{
  color: aliceblue;
  display: grid;
  background-color: rgb(38, 39, 39);
}

.data>div>input{
  width: 50%;
}

.top{
  width: 100%;
  display: flex;  
  justify-items: left;
}

.top>input{
  font-size: 1.1em;
  font-weight: bolder;
  color: rgb(204, 204, 204);
}

.subtitle, .subtitle>input{
  display: grid;
  font-size: 1em;
  font-weight: bold;
  color: rgb(204, 204, 204)
}

.details{
  display: flex;
  max-width: 100%;
  flex-wrap:wrap-reverse;
}

.details>input{
  max-width: 24%;
  font-weight: bold;
  color: rgb(204, 204, 204)
}

h5{
  margin-bottom:0 ;
  color: rgba(0, 0, 0, 0.692);
  text-decoration: underline;
}

/* //Studies, Experience */

.studies>div{
  display: grid;
  gap: 1%;
  grid-template-columns: auto auto auto ;
}

.experience{
  padding-bottom: 1em;
}

.experience>div{
  display: grid;
  gap: 1%;
  grid-template-columns: auto auto auto;
}

.add{
  width: 15%;
  padding: 0.5em;
  background-color: rgba(0, 153, 255, 0.384);
  border: none;
  border-radius: 0.5em;
  
}
.add:hover, .del:hover{
  cursor: pointer;
  outline: 2px solid rgba(43, 40, 40, 0.603);
}

.del{
  width: 20%;
  height: 2em;
  justify-self: center;
  align-self: center;
  background-color: rgba(219, 75, 75, 0.767);
  border: none;
  font-weight: bold;
  border-radius: 0.5em;
}

